.services-wrap {
    margin-bottom: 64px;
    margin-top: 98px;
}
.services-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.services-items {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}