.services-wrap {
    width: 100%;
    margin-bottom: 64px;
    margin-top: 98px;
    &:first-child {
        .services-items {
            &>div{
                max-width: 427px;
                width: 100%;
                @media screen and (max-width: 1380px) {
                    max-width: initial;
                    width: 32.25%;
                }
                &:nth-child(2n) {
                    margin-right: 20px;
                    &>div:first-child::before {
                        left: -70px;
                        right: initial;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                    &>div:first-child::before {
                        left: initial;
                        right: -45px;
                    }
                }
            }
        }
    }
}
.services-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.services-items {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
