header {
    border-bottom: 1px solid #B5B5B5;
    &._hidden {
        padding: 0;
        background: #fff;
        .header-box {
            display: none;
        }
        &+.main-banner-wrap  {
            display: none;
        }
    }
    &._active {
        .btn-show-header {
            display: none;
        }
    }
}
.header-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    position: relative;
    max-width: 33px;
    width: 100%;
    height: 33px;
    display: block;
    margin-right: 69px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        &:last-child {
            opacity: 0;
            visibility: hidden;
        }
    }
}
.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.label-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &>span {
        font-weight: 300;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-right: 12px;
        &._white-teme {
            color: red;
        }
    }
    label {
        cursor: pointer;
        input {
            display: none;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            &:checked+span i {
                transform: translateX(17px);
                -webkit-transform: translateX(17px);
                -moz-transform: translateX(17px);
                -ms-transform: translateX(17px);
                -o-transform: translateX(17px);
            }
        }
        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 37px;
            padding: 0 2px;
            box-sizing: border-box;
            height: 20px;
            background: #2F2F2F;
            border: 1px solid #FFFFFF;
            border-radius: 17px;
            i {
                display: block;
                width: 14px;
                height: 14px;
                background: #FFFFFF;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                -ms-transition: all .2s linear;
                -o-transition: all .2s linear;
            }
        }
    }
}
.link-auth {
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 32px;
}
.btn-hidden-header {
    position: relative;
    display: block;
    cursor: pointer;
    width: 26px;
    height: 14px;
    margin-left: 66px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        &:last-child {
            opacity: 0;
            visibility: hidden;
        }
    }
}
.btn-show-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 50px;
    cursor: pointer;
    width: 100%;
    border: none;
    background: #fff;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    &:hover {
        background: #4fd321;
    }
}
._white-theme  {
    .link-auth,
    .label-box>span {
        color: #2F2F2F;
    }
    .label-box label span {
        border-color: #2F2F2F;
        background: #fff;
    }
    .label-box label span i {
        background: #2F2F2F;
    }
    .btn-hidden-header {
        img {
            &:first-child {
                opacity: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .logo {
        img {
            &:first-child {
                opacity: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}