footer {
    border-top: 1px solid #B5B5B5;
    padding: 64px 0 0 0;
}
.footer-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.footer-elems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 88px;
}
.footer-elem {
    margin-right: 102px;
    &:last-child {
        margin-right: 0;
    }
}
.footer-elem-title {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-elem-links {
    a {
        display: block;
        width: fit-content;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}
.footer-elem-desc {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.footer-img {
    margin: 0 auto;
}
.footer-elem-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 387px;
    width: 100%;
    margin-left: auto;
}
._white-theme {
    .btn-white {
        background: #2F2F2F;
        color: #fff;
    }
    .footer-elem-desc {
        color: #2F2F2F;
    }
    .footer-title,
    .footer-elem-title,
    .footer-elem-links a {
        color: #2F2F2F;
    }
}