body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #2F2F2F;
  overflow-x: hidden;
}
div, header, footer, a, p {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}
h1 {
  font-weight: 300;
  font-size: 100px;
  line-height: 94px;
  text-align: left;
  color: #FFFFFF;
}
ul {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 1380px) {
    padding: 0 40px;
  }
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.loading {
  margin: 0 auto;
}
.btn-white {
  letter-spacing: -0.02em;
  color: #2F2F2F;
  text-align: center;
  padding: 11px 27px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  background: #FFFFFF;
  border-radius: 30px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  &:hover {
    border-color: #4FD321;
    background: #4FD321;
    color: #272727;
  }
}
.services-box {
  width: 100%;
}
::selection {
  background: #4FD321; 
  color: #272727;
}
::-moz-selection {
  background: #4FD321; 
  color: #272727;
}